<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container con">
      <div class="row content">
        <div class="col-xs-12">
          <h2 class="text-primary">To Do List</h2>
        </div>
        <form id="create-task" class="create-task">
          <input
            class="task-input"
            id="new-task-content"
            type="text"
            placeholder="Type a Task"
            required/>
          <button class="mb-2 col-2 btn btn-success text-white">Create</button>
        </form>
        <br />
        <div id="todo-list" class="todo-list"></div>
        <div class="filter">
          <form>
            <select id="tasks" name="tasks">
              <option value="all">All tasks</option>
              <option value="active">Active tasks</option>
              <option value="completed">Completed tasks</option>
            </select>
          </form>
        </div>
      </div>
    </div>